<h1>Authors</h1>

<%# link_to 'Back to Home', root_path %>

<% if @authors.any?%>
    <div class="authors list">
        <% @authors.each do |author|%>
            <div class='author'>
                <p><%= link_to author.name, author_path(author)%></p>
                <p><small><i><%= truncate(author.bio, length: 50)%></i></small></p>
                <p><small><%= pluralize(author.books.count, 'book')%></small></p>
            </div>
        <% end %>
    </div>
    <%=paginate @authors%>
<% else %>
    <p>No authors found</p>
<% end %>
