<h1>Users</h1>

<%# link_to 'Back to Home', root_path %>

<% if @users.any? %>
  <div class="users-list">
    <% @users.each do |user| %>
      <div class="user-item">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p>
          <small>
            <%= pluralize(user.reviews.count, 'review') %> | 
            <%= pluralize(user.favourites.count, 'favourite') %>
          </small>
        </p>
      </div>
      <hr>
    <% end %>
    <%=paginate @users%>
  </div>
<% else %>
  <p>No users yet.</p>
<% end %>